#nav {
  display: flex;
  flex-direction: column;
  position: sticky;
  z-index: 3000;
  top: 0;
  background-color: inherit;
  color: inherit;
  width: 100%;
  box-sizing: border-box;

  justify-content: center;
  transition: top 500ms, background-color 600ms, color 600ms;

  .banner {
    opacity: 1;
    transition: opacity 600ms, background-color 600ms, color 600ms;
    padding: 1vw 3vw;
    border-bottom: 1px dashed;
    display: block;
    font-family: "DM Sans", sans-serif;

    h1 {
      font-size: 3em;
    }

    p {
      font-size: 12pt;
      line-height: 1.7;
      margin-block-start: 0;
      margin-block-end: 0;
    }
  }

  .banner:nth-child(odd) {
    background-color: var(--4-complement);
    color: var(--4-primary);
  }

  .banner:nth-child(even) {
    background-color: var(--4-primary);
    color: var(--4-complement);
  }

  .banner:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  .centerpiece {
    @media only screen and (max-width: 530px) {
      display: none;
    }
    @media only screen and (min-width: 530px) {
      display: flex;
    }
    justify-content: center;
    max-width: 100%;
    height: clamp(40px, 3vw, 75px);
    align-items: center;
    padding: 1vh;

    .nav-logo {
      display: inline;
      height: clamp(20px, 100%, 40px);
      margin-right: 0;
    }

    h1 {
      margin-block-start: 0;
      margin-block-end: 0;
      vertical-align: middle;
      padding: 3vw;
      font-family: "PT Serif", georgia, serif;
      font-size: clamp(14pt, 2vw, 18pt);
      font-weight: 600;
    }

    a {
      font-family: "DM Sans", sans-serif;
      border-bottom: 1px solid;
      margin-left: auto;
      right: 3vw;
      font-size: clamp(10pt, 1.5vw, 15pt);
      position: absolute;
      font-weight: 600;
      transition: font-weight 600ms;
      text-decoration: none;
      color: inherit;
    }

    a:hover {
      font-weight: 200;
      cursor: pointer;
    }
  }
}

#hero {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 30px 80px 30px;
  box-sizing: border-box;

  @media only screen and (max-width: 530px) {
    flex-direction: column;
  }

  h1, p {
    font-family: "PT Serif", "Georgia", serif;
  }

  h1 {
    font-size: clamp(25pt, 5vw, 30pt);
  }

  p {
    font-size: 12pt;
    line-height: 1.7;
  }

  #left {
    @media only screen and (max-width: 530px) {
      width: 90%;
    }
    @media only screen and (min-width: 530px) {
      width: 40vw;
    }

    padding: 20px;
  }

  #right {
    display: flex;
    justify-content: center;

    .logo {
      max-width: 200px;
      width: 100%;
      margin: auto;
      display: block;
    }
  }
}

#issues {
  padding: 50px 50px 0 50px;

  .link {
    display: inline-block;
    min-width: fit-content;
    width: 30vw;
    margin-bottom: 20px;
  }

  .link a {
    font-size: 25pt;
    display: inline;
    text-decoration: none;
    height: 100%;
    padding: 0 10px 0 0;
    line-height: 1.5;
    transition: opacity 600ms, font-weight 600ms;
    font-variant: small-caps;
    font-family: "DM Sans", sans-serif;
    font-weight: 1000;
  }

  .link img {
    transition: opacity 600ms, transform 600ms;
  }

  .link:hover {
    cursor: pointer;
  }

  .link:hover img {
    transform: translateX(80%);
    opacity: 0.5;
  }

  .link:hover #i1, .link:hover #i2, .link:hover #i3, .link:hover #i4 {
    opacity: .8;
    font-weight: 100;
  }
}

#archive-link {
  display: block;
  @media only screen and (max-width: 530px) {
    margin-top: 0;
  }
  @media only screen and (min-width: 530px) {
    margin-top: 50px;
  }
}

#archive-link a {
  font-size: 15pt;
  display: inline;
  text-decoration: none;
  border-bottom: 1px solid;
  height: 100%;
  padding: 0 10px 0 0;
  line-height: 1.5;
  opacity: 1;
  transition: opacity 600ms, font-weight 600ms, border-bottom 600ms;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}

#archive-link:hover a {
  cursor: pointer;
  opacity: 0.7;
  border-bottom: 1px solid;
  font-weight: 300;
}

body {
  transition: background-color 600ms;
  background-color: var(--white);
  color: var(--black);
  margin: 0;
  position: relative;
}

#colorTiles {
  display: flex;
  flex-wrap: wrap;
  min-height: 200px;
  font-family: "DM Sans", sans-serif;
  font-size: 30pt;
}

#colorTiles div {
  padding: 20px;
  flex: 1;
  min-width: 25%;
  font-weight: 300;
  transition: font-weight 600ms, opacity 600ms, flex 600ms;
}

#colorTiles div:hover {
  font-weight: 1000;
  opacity: 0.8;
  flex: 1.5;
  cursor: pointer;
}

#colorTiles div:nth-child(1) {
  color: var(--1-secondary);
  background-color: var(--1-primary);
}

#colorTiles div:nth-child(2) {
  color: var(--2-secondary);
  background-color: var(--2-primary);
}

#colorTiles div:nth-child(3) {
  color: var(--3-secondary);
  background-color: var(--3-primary);
}

#colorTiles div:nth-child(4) {
  color: var(--4-secondary);
  background-color: var(--4-primary);
}

#team {
  padding: 40px 40px 10px 40px;
  font-family: "DM Sans", sans-serif;
}

#footer {
  padding: 20px 40px;
  font-family: "DM Sans", sans-serif;

  a {
    transition: opacity 600ms;
    color: inherit;
  }

  a:hover {
    opacity: .6;
  }
}

.subscribe {
  padding: 20px 40px !important;
}

#issue-popup {
  box-sizing: border-box;
  transition: opacity 600ms ease;
  opacity: 0;
  height: 0;
  width: 0;
  padding: 0;
  overflow: hidden;
  font-family: "DM Sans", sans-serif;
}

#issue-popup.active {
  overflow: scroll;
  transition: opacity 600ms ease;
  opacity: 1;
  height: 100vh;
  width: 100vw;
  z-index: 4000;
  position: fixed;
  top: 0;
  display: block;
  padding: 4vw;

  #popup-issue-number {
    position: fixed;
    z-index: -1;
    font-size: 20vw;
    opacity: 0.1;
    padding: 5vw;
    right: 0;
    bottom: 0;
    margin-block-end: 0;
    height: fit-content;
  }

  #read-button {
    transition: opacity 600ms, background-color 600ms;
    border: none;
    border-radius: 5px;
    font-family: "DM Sans", sans-serif;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: right;
    position: sticky;
    margin-right: 5%;
  }

  #read-button:hover {
    cursor: pointer;
    opacity: .8;
  }

  .contents {
    .contents-heading {
      font-size: clamp(15pt, 5vw, 20pt);
    }

    #articles {
      padding: 0 0 0 3vw;

      div {
        margin: 30px 0;
        font-size: clamp(13pt, 3vw, 20pt);
        transition: box-shadow 600ms, font-weight 500ms;
      }

      div:hover {
        box-shadow: inset 0 -2px 0 0 var(--color);
        font-weight: 600;
        cursor: pointer;
      }
    }
  }

  .contributors {
    margin-top: 60px;

    .contributors-heading h2 {
      font-size: clamp(17pt, 3vw, 20pt);
    }

    .contributor-text {
      padding: 0 0 0 3vw;
      font-size: clamp(12pt, 2vw, 14pt);
      line-height: 1.7;
    }
  }

  #close-button-wrapper {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    filter: none;
    opacity: 1;
    transition: opacity 600ms;

    object {
      background-color: var(--background-color);
      width: 24px;
      height: auto;
      margin: 3px;
      pointer-events: none;
    }
  }

  #close-button-wrapper:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}
