body {
    margin: 0;
    color: var(--black);
    background-color: var(--white);
    transition: color 300ms, background-color 300ms;
}

.pre-hero {
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    padding: 40px 20px 40px 20px;
    display: inline-block;
    
    a {
        transition: font-weight 300ms;
        margin-left: 25px;
        color: inherit;
        text-decoration: none;
        border-bottom: 1px solid var(--black);
    }

    img {
        transform: rotate(180deg) translateX(-20%);
        transition: transform 300ms;
    }
}

.pre-hero:hover {
    cursor: pointer;
}

.pre-hero:hover a {
    font-weight: 200;
}

.pre-hero:hover img {
    transform: rotate(180deg) ;
}

#hero {
    width: 100vw;
    display: block;
    position: relative;

    .step {
        opacity: 0.5;
        transition: opacity 300ms;
    }

    #hero-text {
        position: relative;
        font-family: "DM Sans", sans-serif;
        z-index: 1;
        margin-block-start: 0;
        margin-block-end: 0;
        word-wrap: break-word;
        padding: 2vw;
        display: inline-block;
    }

    h1, h2 {
        font-size: 18vw;
        margin-block-start: 0;
        margin-block-end: 0;
    }

    h3 {
        font-size: 12vw;
        margin-block-start: 0;
        margin-block-end: 0;
    }

    img {
        float: right;
        right: 20px;
        top: 20px;
        width: 30vw;
        z-index: 10;
        position: sticky;
    }
}

.step {
    opacity: 0.5;
    transition: opacity 300ms;
}

.highlight, #acknowledgements {
    padding: 10vw;
    font-family: "DM Sans", sans-serif;

    h2, h3 {
        font-size: 7vw;
    }

    p {
        font-size: clamp(14pt, 4vw, 4vw);
        line-height: 1.7;
    }

    a, a:visited {
        text-decoration: none;
        border-bottom: 4px solid;
        color: inherit;
        opacity: 1;
        transition: opacity 300ms, border-bottom 300ms;
    }

    a:hover {
        opacity: 0.7;
        border-bottom: 1px solid;
    }
}

#acknowledgements {
    h4 {
        font-size: clamp(24pt, 5vw, 5vw);
        margin-block-start: 2em;
        margin-block-end: 0;
    }
    p {
        margin-block-start: 0;
        margin-block-end: 0;
    }
    h6 {
        font-size: clamp(14pt, 2vw, 2vw);
        font-weight: normal;
    }
}

#stats {
    h2 {
        font-size: 15vw;
        font-variant: small-caps;
        font-weight: 1000;
        text-transform: lowercase;
        text-align: center;
    }
}

#thankyou {
    padding: 10vw;
    font-family: "DM Sans", sans-serif;
    h3 {
        font-size: 5vw;
    }

    h6 {
        font-size: clamp(14pt, 3vw, 3vw);
        font-weight: normal;
    }
}

#archive {
    font-family: "DM Sans", sans-serif;
    padding: 3vw;
    #archive-title {
        font-size: 5vw;
    }
}

#archive-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    .issue-box {
        padding: 2vw;
        min-width: 150px;
        transition: opacity 300ms;
    }

    h4 {
        margin-block-start: 2em;
        margin-block-end: 0;
        border-bottom: 1px solid;
    }

    h5 {
        margin-block-start: 1em;
        margin-block-end: 1em;
    }

    .articles div {
        padding: 4px;
    }

    .issue-box:nth-child(1) {
        color: var(--1-primary)
    }

    .issue-box:nth-child(2) {
        color: var(--2-primary)
    }

    .issue-box:nth-child(3) {
        color: var(--3-primary)
    }

    .issue-box:nth-child(4) {
        color: var(--4-primary)
    }

    .issue-box:hover {
        opacity: 0.7;
        cursor: pointer;
    }
}

.subscribe {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe #logo {
    width: 20vw;
    padding: 5%;
}

.subscribe #text {
    width: 60vw;
    margin-left: 30px;

    h2, p {
        font-family: "PT Serif", "Georgia", serif;
    }
}

.subscribe #logo img {
    width: 100%;
}

.subscribe button {
    background-color: var(--black);
    transition: opacity 300ms, background-color 300ms;
    border: none;
    border-radius: 5px;
    font-family: "DM Sans", sans-serif;
    color: var(--white);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.subscribe button:hover {
    cursor: pointer;
    opacity: .7;
}