#hero {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 30px;
    box-sizing: border-box;

    h1, p {
        font-family: "PT Serif", "Georgia", serif;
    }

    h1 {
        font-size: clamp(30pt, 10vw, 60pt);
    }

    p {
        font-size: clamp(12pt, 2vw, 18pt);
        line-height: 1.7;
    }

    #left {
        width: 60vw;
        padding: 20px;
    }

    #right {
        @media only screen and (max-width: 600px) {
            width: 60vw;
        }
        @media only screen and (min-width: 600px) {
            width: 30vw;
        }
        vertical-align: middle;
    }

    .logo {
        width: 100%;
    }
}

#issues {
    padding: 50px 50px 0 50px;

    .link {
        display: inline-block;
        min-width: fit-content;
        width: 30vw;
        margin-bottom: 20px;
    }

    .link a {
        font-size: 25pt;
        display: inline;
        text-decoration: none;
        height: 100%;
        padding: 0 10px 0 0;
        line-height: 1.5;
        transition: opacity 300ms, font-weight 300ms;
        font-variant: small-caps;
        font-family: "DM Sans", sans-serif;
        font-weight: 1000;
    }

    .link img {
        transition: opacity 300ms, transform 300ms;
    }

    .link:hover {
        cursor: pointer;
    }

    .link:hover img {
        transform: translateX(80%);
        opacity: 0.5;
    }

    #archive-link {
        display: inline-block;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    #archive-link a {
        font-size: 25pt;
        display: inline;
        text-decoration: none;
        border-bottom: 2px solid;
        height: 100%;
        padding: 0 10px 0 0;
        line-height: 1.5;
        opacity: 1;
        transition: opacity 300ms, font-weight 300ms, border-bottom 300ms;
        font-family: "DM Sans", sans-serif;
        font-weight: 600;
    }

    #archive-link:hover a {
        cursor: pointer;
        opacity: 0.7;
        border-bottom: 1px solid;
        font-weight: 300;
    }

    #i1 {
        color: var(--1-primary);
    }

    #i2 {
        color: var(--2-primary);
    }

    #i3 {
        color: var(--3-primary);
    }

    #i4 {
        color: var(--4-primary);
    }

    .link:hover #i1, .link:hover #i2, .link:hover #i3, .link:hover #i4 {
        opacity: .8;
        font-weight: 100;
    }
}

body {
    transition: background-color 300ms;
    background-color: var(--white);
    color: var(--black);
    margin: 0;
}

#colorTiles {
    display: flex;
    flex-wrap: wrap;
    min-height: 200px;
    font-family: "DM Sans", sans-serif;
    font-size: 30pt;
}

#colorTiles div {
    padding: 20px;
    flex: 1;
    min-width: 25%;
}

#colorTiles div:nth-child(1), #colorTiles div:nth-child(2), #colorTiles div:nth-child(3) {
    font-weight: 300;
    transition: font-weight 300ms, opacity 300ms, flex 800ms;
}

#colorTiles div:nth-child(1):hover, #colorTiles div:nth-child(2):hover, #colorTiles div:nth-child(3):hover {
    font-weight: 1000;
    opacity: 0.8;
    flex: 1.5;
    cursor: pointer;
}

#colorTiles div:nth-child(1) {
    color: var(--1-secondary);
    background-color: var(--1-primary);
}

#colorTiles div:nth-child(2) {
    color: var(--2-secondary);
    background-color: var(--2-primary);
}

#colorTiles div:nth-child(3) {
    color: var(--3-secondary);
    background-color: var(--3-primary);
}

#colorTiles div:nth-child(4) {
    color: var(--4-secondary);
    background-color: var(--4-primary);
}

#issue1 {
    background-color: var(--1-primary);
    color: var(--1-secondary);
}

#issue2 {
    background-color: var(--2-primary);
    color: var(--2-secondary);
}

#issue3 {
    background-color: var(--3-primary);
    color: var(--3-secondary);
}

#issue4 {
    background-color: var(--4-primary);
    color: var(--4-secondary);
}

#issue1 button {
    background-color: var(--1-secondary);
    color: var(--1-primary);
}

#issue2 button {
    background-color: var(--2-secondary);
    color: var(--2-primary);
}

#issue3 button {
    background-color: var(--3-secondary);
    color: var(--3-primary);
}

#issue4 button {
    background-color: var(--4-secondary);
    color: var(--4-primary);
}

.issue button {
    transition: opacity 300ms, background-color 300ms;
    border: none;
    border-radius: 5px;
    font-family: "DM Sans", sans-serif;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.issue button:hover {
    cursor: pointer;
    opacity: .8;
}

.issue {
    font-family: "DM Sans", sans-serif;
    position: relative;
}

.issue h1, .issue h2 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.issue h1 {
    position: sticky;
    z-index: 1;
    top: 30px;
    font-size: 30vw;
    opacity: 0.1;
    padding: 2vw;
}

.issue > div {
    position: relative;
    z-index: 100;
    padding: 30px;
}

.issue > div button {
    float: right;
    position: sticky;
    margin-right: 10%;
    margin-top: 5%;
}

.issue .contents-heading {
    font-size: clamp(30pt, 10vw, 80pt);
}

.issue .articles {
    padding: 0 0 0 5vw;
}

.issue .articles div {
    margin: 50px 0;
    font-size: clamp(20pt, 5vw, 45pt);
    transition: box-shadow 300ms, font-weight 500ms;
}

#issue1 .articles div:hover {
    box-shadow: inset 0 -2px 0 0 var(--1-secondary);
    cursor: pointer;
    font-weight: 600;
}

#issue2 .articles div:hover {
    box-shadow: inset 0 -2px 0 0 var(--2-secondary);
    cursor: pointer;
    font-weight: 600;
}

#issue3 .articles div:hover {
    box-shadow: inset 0 -2px 0 0 var(--3-secondary);
    cursor: pointer;
    font-weight: 600;
}

#issue4 .articles div:hover {
    box-shadow: inset 0 -2px 0 0 var(--4-secondary);
    cursor: pointer;
    font-weight: 600;
}

.issue .contributors h2 {
    font-size: clamp(20pt, 4vw, 40pt);
}

.issue .contributor-text {
    padding: 0 0 0 5vw;
    font-size: clamp(12pt, 2vw, 18pt);
    line-height: 1.7;
}

.issue .contributors {
    margin: 20vh 0 40vh 0;
}

#footer {
    padding: 40px;
    font-family: "DM Sans", sans-serif;

    a {
        transition: opacity 300ms;
        color: inherit;
    }

    a:hover {
        opacity: .6;
    }
}